.center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.grid {
    background: #EEE;
    max-width: 66%
}

/* item is invisible, but used for layout */
.grid-item,
.grid-sizer {
    width: 50%;
}

.grid-item {
    float: left;
    height: 300px;
}

/* grid-item-content is visible, and transitions size */
.grid-item-content {
    width: 99%;
    height: 99%;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    -webkit-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
    -webkit-box-shadow: inset -200px -200px 164px -193px rgba(0,0,0,0.55);
    -moz-box-shadow: inset -200px -200px 164px -193px rgba(0,0,0,0.55);
    box-shadow: inset -200px -200px 164px -193px rgba(0,0,0,0.55);
}

.grid-item:hover .grid-item-content {
    border-color: white;
    background: #A2C;
    cursor: pointer;
}

/* both item and item content change size */
.grid-item.is-expanded {
    width: 100%;
    height: 500px;
    z-index: 2;
}

    .grid-item.is-expanded .grid-item-content {
        background: #F90;
    }

#map {
    height: 400px;
    width: 100%;
}

body {
    margin: 30px;
}

.submit {
    position: relative;
    color: #fff;
    font-size: 16px;
}

    .submit input {
        min-width: 115px;
    }


    .submit .fa-share {
        position: absolute;
        top: 10px;
        left: 10px;
    }


#spring {
    background-color: #60B24C;
}

#summer {
    background-color: #FFBC00;
}

#autumn {
    background-color: #994124;
}

#winter {
    background-color: #5F9ACE;
}

.demo-layout-transparent {
    background-image: url('../Assests/garden.jpg') center / cover;
}

    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
        /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
        color: white;
    }

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

.mdl-demo .mdl-layout__header-row {
    padding-left: 40px;
}

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
    font-size: inherit;
}

.mdl-demo .mdl-layout__tab-bar-button {
    display: none;
}

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
    display: none;
}

.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
    overflow: visible;
}

.mdl-demo .mdl-layout__tab-bar-container {
    height: 64px;
}

.mdl-demo .mdl-layout__tab-bar {
    padding: 0;
    padding-left: 16px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
height: 64px;
line-height: 64px;
}

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
    background-color: white;
    height: 4px;
}

.section--center {
    margin: 0 auto;
    max-width: 66%;
    text-align: left;
}

.address-font {
    font-size: 1.2em;    
}

.contact-text{
}

.img-offer{
    max-width: 100%;
    max-height: 100%;
}