@{
    ViewBag.Title = "Home Page";
}

<div class="grid">
    <div class="grid-item">
        <div class="grid-item-content">Wiosna</div>
    </div>
    <div class="grid-item">
        <div class="grid-item-content">Lato</div>
    </div>
    <div class="grid-item">
        <div class="grid-item-content">Jesień</div>
    </div>
    <div class="grid-item">
        <div class="grid-item-content">Zima</div>
    </div>
</div>
