@{
    ViewBag.Title = "Home Page";
}

<h1>Metody nauczania</h1>

<section class="grid section--center">
    <div class="grid-sizer"></div>
    <div class="grid-item">
        <div id="spring" class="grid-item-content">Wiosna</div>
    </div>
    <div class="grid-item">
        <div id="summer" class="grid-item-content">Lato</div>
    </div>
    <div class="grid-item">
        <div id="autumn" class="grid-item-content">Jesień</div>
    </div>
    <div class="grid-item">
        <div id="winter" class="grid-item-content">Zima</div>
    </div>
</section>
