@{
    ViewBag.Title = "Home Page";
}

<h1>Metody nauczania</h1>

<div class="grid center">
    <div class="grid-sizer"></div>
    <div class="grid-item">
        <div class="grid-item-content">Wiosna</div>
    </div>
    <div class="grid-item">
        <div class="grid-item-content">Lato</div>
    </div>
    <div class="grid-item">
        <div class="grid-item-content">Jesień</div>
    </div>
    <div class="grid-item">
        <div class="grid-item-content">Zima</div>
    </div>
</div>
